.upsell-list {
  overflow: auto;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem 0 1rem;
  margin: 0;
  list-style: none;
  border-top: .1rem solid rgba(var(--color-foreground), .2);
}

.upsell-list__item {
  min-width: 350px;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
  align-items: flex-start;
}

.upsell-card__media {
  background: #fff;
  height: 100px;
  width: 100px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.upsell-card__title {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5;
}

.upsell-card__button {
  padding: 0 1rem;
}

.upsell-card__option {
  padding: 0;
  margin: 0;
  display: block;
  border: 0;
  overflow: hidden;
  position: relative;
}

variant-radios{
  display: block;
}

.upsell-card__option input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.upsell-card__option input[type='radio'] + label {
  border: 1px solid rgba(var(--color-foreground), 0.2);
  background-color: rgb(var(--color-background));
  color: rgba(var(--color-foreground));
  border-radius: var(--variant-pills-radius);
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: .1rem 0;
  padding: .4rem;
  font-size: 1.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;
}


.upsell-card__option input[type='radio']:not(:checked) + label:hover {
  border-color: rgb(var(--color-foreground));
}

.upsell-card__option input[type='radio']:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.upsell-card__option input[type='radio']:not(.disabled) + label > .visually-hidden {
  display: none;
}

@media screen and (forced-colors: active) {
  .upsell-card__option input[type=radio]:checked + label {
    text-decoration: underline;
  }
}

.upsell-card__option input[type='radio']:disabled + label,
.upsell-card__option input[type='radio'].disabled + label {
  border-color: rgba(var(--color-foreground), 0.1);
  color: rgba(var(--color-foreground), 0.6);
  text-decoration: line-through;
}

.upsell-card__option input[type='radio'].disabled:checked + label,
.upsell-card__option input[type='radio']:disabled:checked + label {
  color: rgba(var(--color-background), 0.6);
}